
@media screen and (max-width: 425px) {

    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap');

.about{
        visibility: hidden;
        }

        .about_new{
            visibility: visible;
            margin-left: 1em;
            width: 32em;
            font-size: 20px;
            width: 25em;
        
        }


        .zuri_img{
            visibility: hidden;
        }
        
        .zuri_img_1{
            visibility:visible;
            margin-left: 12em;
            margin-top: 2em;

        }



.img_div img{
    width: 27em;
    margin-left: 2em;
}

.contact{
    margin-top: 2em;
}

.contact div{
    font-size: 35px;
}

.tech{
    width: 30em;

  
}

.tech div{
    font-size: 50px;
    margin-left: 2em;
  
}


.work{
    margin-top: -28em;
    margin-left: -3em;
}
.work li{

    width: 28em;
}

.education{
    margin-top: 2em;
}

.zu{
    background-color: #FFF2C7;
    width: 36em;
    margin-left: -2em;
    padding-bottom: 3em;
}



}