
@media screen and (max-width: 425px) {

    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&display=swap');
body{
    background: #FFF2C7;
}
 



/* section one  */

.sec1{
    padding-top: 3em;
    padding-left: 0em;
    color: #960C0C;
}
.img_div  img{
    width: 25em;
    border-radius: 30px;
}


.contact{
    margin-top: 10px;
}
.contact div{

margin-left: 14px;
}

.contact p{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    font-family: "Caveat" -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
}


/* section two start  here */
.see{
    margin-top: 5em;
    padding-left: 0em;
    color: #960C0C;
}

.long{
    width: 100%;

}
.long2{
    margin-left: -7em;
    width: 40em;

    
}

.col-md-9{
    overflow: hidden;
    margin-top: -15em;
}

.about{
visibility: hidden;
}

/* .about h1{
    position: relative;
    top: -100px;
    z-index:;
} */


.about_new{
    visibility: visible;
    margin-left: 2em;
}

hr{
    border: 4px solid ;
    width: 0em;
    margin-top: -5px;
}

.contact a{
    text-decoration: none;
    color: inherit;
}
.work{
    margin-top: -12em;
    margin-left: -5em;
}


.education{
    margin-top: -2em;
}

.education span{

    display: block;
}

ul{
    width: 23em;
}



.tech div{
    font-size:30px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;

}

.zuri_img{
    visibility: hidden;
}

.zuri_img_1{
    visibility:visible;
    margin-left: 6em;
    margin-top: -2em;
}





/* section one  */










}