@media screen and (max-width: 425px) {





    .img_div{
        margin-top: -1em;
    }


    .img_div img{
        width: 15em;
        margin-left:2em ;
    }


    .about_new{
        visibility: visible;
    }

    .contact{
        margin-top: 2em;
    }

    .tech div{
        text-align: center;
    }


}
